.clear_modal {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clear_modal-image {
 width: 350px;
 height: 350px;
}

.clear_modal-image_landscape {
  display: none;
}

@media (orientation: landscape) {
  .clear_modal-image {
    display: none;
  }

  .clear_modal-image_landscape {
    width: auto;
    height: 100px;
    display: block;
    margin-bottom: 8px;
  }

  @supports (height: 100dvh) {
    .clear_modal  {
      height: 100dvh;
    }
  }
}

.clear_modal-abstract {
  color: #F5F5F5;
  text-align: center;
  margin-bottom: 32px;
}

.clear_modal-abstract_title {
  font-size: 16px;
  line-height: 16px;
}

.clear_modal-choice {
  font-size: 16px;
  line-height: 16px;
  width: 350px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.clear_modal-cancel_button {
  margin-top: 32px;
  font-size: 16px;
  line-height: 16px;
  color: #F5F5F5;
  border-radius: 16px;
  padding: 12px;
  border: 1px solid #F5F5F5;
}

.clear_modal-confirm_button {
  color: rgba(0, 0, 0, 0.9);
  background-color: #F5F5F5;
  border-radius: 16px;
  padding: 12px;
  border: 1px solid #F5F5F5;
}