.end_turn_modal {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end_turn_modal-abstract {
  color: #F5F5F5;
  text-align: center;
  margin-bottom: 40px;
}

.end_turn_modal-abstract_title {
  font-size: 24px;
  line-height: 24px;
}

.end_turn_modal-abstract_description {
  font-size: 16px;
  line-height: 16px;
}

.end_turn_modal-choice {
  font-size: 24px;
  line-height: 24px;
  width: 350px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.end_turn_modal-cancel_button {
  color: #F5F5F5;
  border-radius: 16px;
  padding: 12px;
  border: 1px solid #F5F5F5;
}

.end_turn_modal-confirm_button {
  color: rgba(0, 0, 0, 0.9);
  background-color: #F5F5F5;
  border-radius: 16px;
  padding: 12px;
  border: 1px solid #F5F5F5;
}