.settings {
  position:fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  border-style: solid;
  border-width: 1px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
