.dial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dial-counter {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dial-number {
  font-size: 24px;
  line-height: 0;
  margin: 0;
  padding: 0;
  transform: translateY(4px);
}

.dial-title {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  padding: 8px;
}
